* {margin: 0;padding: 0;box-sizing: border-box;}
ul { list-style: none;}

.wrap {
    padding: 0 46px;
}

h1 {
    margin: 40px 0;
}

.box {
    margin: 20px 0;
}

table {
    width: 300px;
    border-collapse: collapse;
}
table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #333;
}

h2 {
    margin: 20px 0;
}